{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5">FORMULARIO PARA AGREGAR PERSONAS</h1>
{% endblock %}

{% block contenido %}
<h1>FORMULARIO DE PERSONAS</h1>

<section class="features-icons bg-light text-center">
   
   <!-- <form action="{% url 'cursoFormulario' %}" method="POST"> {% csrf_token %}

        <p>Curso: <input type="text" name= "nombre"> </p>

        <p>Comision: <input type="number" name= "comision"> </p>

        <input type="submit" value="Guardar Curso">

    </form>
     -->

   <form action="{% url 'agregarPersona' %}" method="POST"> {% csrf_token %}

     <h3>{{ mensaje }}</h3>
      
     <table>

        {{ form.as_table }}

     </table>

     <input type="submit" value="Guardar Persona">

   </form>

</section>
{% endblock %}