{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5">SECCION PROFESORES</h1>

<a class="btn btn-primary" href="{% url 'profeFormulario' %}">AGREGAR PROFESOR </a>
<a class="btn btn-primary" href="{% url 'leerProfesores' %}">MOSTRAR TODOS</a>


{% endblock %}

{% block contenido %}


<h2> {{mensaje}} </h2>

<ul>

    {% for profesor in profesores %}

        <li>{{profesor.nombre}},{{profesor.apellido}} - {{profesor.profesion}}</li>

        <a type="button" class="btn btn-outline-primary" href="{% url 'eliminarProfesor' profesor.id %}">Eliminar {{profesor.nombre}}</a>
        <a type="button" class="btn btn-outline-primary" href="{% url 'editarProfesor' profesor.id %}">Editar {{profesor.nombre}}</a>

    

    {% endfor %}

</ul>
{% endblock %}